<!-- <app-autorizado [rol]="'admin'">
    <ng-container autorizado>
        estas autenticado
    </ng-container>
    <ng-container noAutorizado>
        no estas autenticado
    </ng-container>
</app-autorizado> -->



<!-- <app-rating (rated)="manejarRated($event)"></app-rating> -->
<h2>En cines</h2>
<!-- Aquí hay un ejemplo de como enviar parámetros a un componente -->
<app-listado-peliculas 
(borrado)="borrado()"
[peliculas]="peliculasEnCines"></app-listado-peliculas>

<h2>Futuros estrenos</h2>
<app-listado-peliculas
(borrado)="borrado()"
[peliculas]="peliculasProximosEstrenos"></app-listado-peliculas>